.full-screen {
    width: 960px;
    height: 600px;
}

.animation-pause {
    animation-play-state: paused !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.position-left {
    left: 0;
}

.position-right {
    right: 0;
}

.position-bottom {
    bottom: 0;
}

.position-center {
    left: 50%;
    transform: translateX(-50%);
}

.position-center-middle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.btn {
    border: 0;
    padding: 15px;

    background: orangered;
    background-position: center;
    color: white;

    outline: none;

    transition: background 1s;
}

.btn:hover {
    background: #f19e0d radial-gradient(circle, transparent 1%, #f19e0d 1%) center/15000%;
}

.btn:active {
    background-color: rgba(128, 128, 128, .5);
    background-size: 100%;

    transition: background 0s;
}

.header {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.header > * {
    margin: 0 10px;
}

.header > img {
    width: 80px;
}
